git+https://github.com/facebookresearch/detectron2.git@v0.4#egg=detectron2
layoutparser 
spacy
layoutparser[layoutmodels]
layoutparser[ocr]
layoutparser[paddledetection]
layoutparser[effdet]
spacy[transformers]
pillow==9.0.0
pdfplumber
pdf2image
tqdm
pybtex
pytesseract
python-docx
torch
pytorch-pretrained-bert
sentence-transformers
transformers
flask-ngrok
pyngrok
flask_sqlalchemy
flask_login
flask_wtf
flask_bcrypt